*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(59,59,170,1) 22%, rgba(0,212,255,1) 69%);
}
.audio {
    width:100%;
    margin: 0 auto;
}
.contentor {
    width:100%;
    flex-wrap:wrap;
    height:780px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.cartao {
    background: rgba(206, 178, 128, .3);
    display:flex;
    flex-direction: column;
    width:300px;
    height:600px;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    box-shadow: 5px 5px 9px #333;
}
.destaque {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 5px 5px 9px #333;
    color: rgb(218, 34, 34);
    height:150px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.multimedia {
    height:80%;
    width:100%;
    object-fit: cover;
    border: 1rem solid #fff;
}
.frase {
    padding: 10px;
    width: 200px;
}
.btn {
    width:100%;
    padding:15px;
    color:white;
    background: #333;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    transition: opacity .5s ease-in-out;
}
.btn:hover {
    opacity: .7;
}
